<div class="card-columns">

    <div class="card" *ngFor="let cancion of nuevasCanciones">
      <img class="card-img-top" [src]="cancion.images[0].url" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ cancion.name }}</h5>
        <p class="card-text">
            <span class="badge badge-pill badge-primary" *ngFor="let artista of cancion.artists">{{ artista.name }}</span>
        </p>
      </div>
    </div>
  </div>
