<div class="row">
  <div class="col">
    <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar artista...">
  </div>
</div>

<div class="card-columns m-5">

    <div class="card" *ngFor="let artista of artistas">
      <img class="card-img-top" [src]="artista.images[0].url" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ artista.name }}</h5>
        
      </div>
    </div>
  </div>